disco-card {
  .disco-card {
    background-color: var(--paper);
    border-radius: 4px;
    box-shadow: 5px 6px 7px 0px var(--text-light);
    display: flex;
    flex-direction: column;
    height: 180px;
    margin: 12px 0;
    max-height: 180px;
    min-height: 180px;
    padding: 18px 24px;

    hr {
      margin: 0;
    }

    p {
      margin: 0;
      margin-top: 9px;
      max-height: 100px;
      overflow: auto;
      padding: 0;
    }

    &--selected {
      box-shadow: 8px 9px 11px 0px var(--text-light);
  
      transform: translate3d(-6px,-7px,0);
      transition-duration: 600ms;
      transition-property: box-shadow,transform;
      transition-timing-function: cubic-bezier(.16,1,.29,.99);
    }
  }
}